* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 247, 247);
    background-image: linear-gradient(to bottom right, rgb(187, 13, 13), rgb(33, 33, 202), rgb(190, 31, 190));
    animation: mymove 5s infinite;
}

.menu-area {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(224,228,231,0.2);
    width: 100%;
    height: 70px;
    z-index: 1;
    
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    justify-content: space-between;
    
    
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
   
    
}

a{
    margin: 15px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    
   
}

a:hover, a:active {
    color: red;
    font-size: 23px;
    transition: all 0.3s;
    
   
    
}

#home{
    position: relative;
    background-image: url('STCAST.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    transition: all 10;
    
}

#home .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    animation: change 20s infinite ease-in-out;
   
}


@keyframes change {
    0% {
        background-image: url(stcast.jpg)
    }
    20% {
        background-image: url(stcast2.jpg);
    }
    40% {
        background-image: url(stcast3.jpg);
     }
    60% {
        background-image: url(bsoapic3.jpg);
     }
    80% {
        background-image: url(bsoapic2.jpg);
     }
   
    100% {
        background-image: url(stcast4.jpg); }
    
    }

#home .content h1{
    font-size: clamp(50px, 8vw, 100px);
    margin: 10px 0;
    color: #f3f3f5;
    
    
}

 
#home .content p{
    
    width: 50%;
    height: auto;
    margin: auto;
    line-height: 1.6;
    color: #f9f8ff;
    
}

    
#about, #contact {
    position: relative;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
  
   
   
}

#contact .content h2 {
   margin: auto;
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   text-align: center;
  
}


.content{
    width: 70%;
    height: 100%;
    padding: 15% 0;
}
.content h1{
    font-size: clamp(50px, 8vw, 100px);
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #fccd04, #20516d, rgb(46, 46, 255));
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
    
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}



#about .content p{
    font-size: 24px;
    line-height: 50px;
    
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 100px;
    color: #f3f3f5;
} 
#contact .content-container p{
    display: block;
    font-size: 24px;
    line-height: 50px;
    text-justify: inter-word;
    text-align: justify;
    text-align: center;
    color: firebrick;
    
    
}

#contact .content-container ul li {
    text-align: center;
    font-size: 24px;
    color: firebrick;
    list-style: none;

}

#contact .content-container h2 {
    color: firebrick;
    text-decoration: none;
}



footer {
    background-color: rgba(255, 255, 255, 0.664);
    animation: footer 2s infinite;
    background-size: contain;
}

@keyframes footer {
    from {background-color: black;}
    to {background-color: white;
          
         
  }
  }







  
  




  